.ressources-container {
    margin: 329px;
}

.ressources{
    width: auto;
    margin-top: 1em;
    margin-left: 10em;
    margin-right: 10em;
    border: 3px solid #000000;
    background-color: #e74c3c;
    color: #FFFFFF;
    display: flex;
}

.ressources-description{
    font-size: 1em;
    margin: 1em;
    text-align: right;
}

p.text-ressources {
    position: relative;
    top: 5rem;
    left: 33rem;
    font-size: 2rem;
    color: #1F2040;
}
