.partners{
    margin: 0 auto;
    text-align: center;
    font-size: 6em;
    margin-bottom: 10px;
    font-family: 'Dosis',sans-serif;
    font-weight: 900;
    color: #fff;
    text-shadow: 0 1px 2px rgba(black,.15);
}

.partner-container {
    background: #1F2040;
    padding-top: 6rem;
    padding-bottom: 1rem;
}
.logo-partners{
    display: flex !important;
    justify-content: center;
}

ul.slick-dots {
    margin: -30rem;
    margin-left: 0rem;
    bottom: 27rem;
}

.slick-slider.slick-initialized{
    top: 1em;
    margin-bottom: 5em;
    margin-top: 8rem;
}


@media (max-width: 568px){
    .partners{
        width:50px;
        height:50px;
    }
}