.partners{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:200px;
    height:200px;
}
.logo-partners{
    display: flex !important;
    justify-content: center;
}


ul.slick-dots {
    margin: -30rem;
    margin-left: 0rem;
}

body{
    background-color: lightgray;
}




@media (max-width: 568px){
    .partners{
        width:50px;
        height:50px;
    }
}