.events-container {
    margin: 10em;
    display: flex;
    width: 64%;
    height: 360px;
    margin-left: 45rem;
}
a.url{
    text-decoration: none;
    position: relative;
    right: 15rem;
}

.events-title {
    font-size: 3em;
    align-items: center;
}

p.event-description {
    position: relative;
    top: 15px;
}

.events{
    width: 97%;
    background-color: #1F2040;
    color: #FFFFFF;
    display: flex;
    margin: 117px;
    border-radius: 35px;
    position: relative;
    bottom: 10rem;
    right: 11rem;
}
.events-logo{
    width: 28rem;
    border-radius: 10% 0% 0% 10%;
    height: 32rem;
}

.events-text{
    font-size: 1em;
    margin: 1em;
}
