img.imgcarousel {
  width: 100%;
  position: relative;
  object-fit: cover;
}

img.background{
  width: 100%;
  position: relative;
  object-fit: cover;
  top: 65rem;
  z-index: 1;
  opacity: 0.8;
}

.alice-carousel{
  bottom: 66rem;
}

.alice-carousel__wrapper {
  margin-bottom: -87rem;
}
  
p.alice-carousel__next-btn-item {
  position: relative;
  bottom: 365px;
  right: 31px;
  opacity: 0;
  font-size: 2rem;
}
  
.alice-carousel__prev-btn {
  text-align: right;
  position: relative;
  bottom: 17rem;
  opacity: 0;
}
  
.question{
  position: relative;
  bottom: 47rem;
  left: 1rem;
  font-size: 8rem;
  color: #fff;
  z-index: 1;
}

.question2 {
  position: relative;
  bottom: 47rem;
  left: 1rem;
  font-size: 9rem;
  text-align: center;
  z-index: 1;
  color: #fff;
}

a.question-lien {
  position: relative;
  bottom: 41rem;
  z-index: 1;
  left: 57rem;
  font-size: 2rem;
  color: #fff;
}

.button {
  display: flex;
  align-items: center;
}
  
button.button_question {
  display: flex;
  z-index: 1;
  position: relative;
  bottom: 36rem;
  margin: 4px;
  left: 47rem;
  height: 29px;
  width: 215px;
  border-radius: 10px;
  font-size: 2rem;
}

button.button_question2 {
  position: relative;
  bottom: 34rem;
  z-index: 1;
  font-size: 2rem;
  border-radius: 10px;
  width: 16rem;
  left: 38rem;
}
  
.alice-carousel__dots-item {
  width: 8px;
  height: 8px;
  margin-left: -74px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #e0e4fb;
  position: relative;
  bottom: 244px;
  left: 35px;
  display: none;
}
  
.slick-slider.slick-initialized {
  position: relative;
  bottom: 19rem;
}

@media screen and (max-device-width: 1024px){
  .question{
    bottom: 57rem;
    left: 1rem;
    font-size: 2rem;
  }

  img.imgcarousel {
    width: 108%;
    height: 62rem;
    bottom: 37rem;
  }

  button.button_question {
    bottom: 58rem;
    margin: 2rem;
    left: 27rem;
    width: 4rem;
    font-size: 1rem;
    z-index: 1;
  }

  p.alice-carousel__next-btn-item {
    bottom: 149px;
    left: 6px;
    opacity: 0;
    font-size: 1rem;
  }
}

@media (orientation: portrait){
  button.button_question {
    bottom: 77rem;
    margin: 2rem;
    left: 15rem;
    width: 4rem;
  } 
  
  .question{
    bottom: 87rem;
    left: 2rem;
  }
}